{% from "scripts/nonebot/_metadata.py.jinja" import get_plugin_metadata %}
{% from "scripts/nonebot/_driver.py.jinja" import get_nonebot_driver %}

{{ get_nonebot_driver() }}
{{ get_plugin_metadata(plugin) }}

if metadata:
    if metadata.config:
        print(f"nonebot_plugin_config_schema:{json.dumps(_model_json_schema(metadata.config))}")
